<div class="index-banner" style="background-image: url('<%= cl_image_path("kgx51xh9tl7itr4enct4") %>')">
  <div style="width: 50%">
    <h1>Cocktails</h1>
    <h4 class="ml-4">in film</h4>
  </div>
</div>
<div class="container">
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail-index-card">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, width: 240, height: 320, crop: :fill %>
          <% end %>
          <h5 class="card-title"><%= cocktail.name %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
