.index-banner {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: asset-url('banner');
  background-position: center;
  background-size: cover;
  h1 {
    font-size: 4rem;
  }
}

.show-banner {
  height: 350px;
  background-image: asset-url('bottles');
  background-position: 50% 25%;
  background-size: cover;
}
