.cocktail-index-card {
  margin: 16px;
  border-radius: 20px;
  position: relative;
  h5 {
    position: absolute;
    text-decoration: none;
    top: 16px;
    left: 16px;
    color: black;
    text-shadow: 0 0 5px white;
  }
}
